<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间-->
<mapper namespace="dao.UserMapper">

    <!--分页操作-->
    <!--startIndex：起始值序号
    pageSize：每页存放的数值-->

    <!--limit实现分页-->
    <resultMap id="UserMap" type="pojo.User">
        <!--column：数据库中的字段
            property：实体类中的属性-->
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="pwd" property="pwd" />
    </resultMap>

    <select id="getUserByLimit" parameterType="map" resultMap="UserMap">
        select * from mybatis.user limit #{startIndex},#{pageSize}
    </select>

</mapper>
